/*
styles.css
Mark Ortega-Ponce
3/10/23
*/
body{
    margin-left: 30px;
    margin-right: 30px;
}
/* Align headers to left border. */
th{
    text-align: start;
    padding-left: 20px;
    padding-right: 20px;
}
/* Add spacing between rows. */
table{
    border-collapse: collapse;
    margin-left: 15px;
}
td{
    padding: 20px 20px 20px 20px;
}
tr{
    border: .25px solid black;
}
tr:nth-child(even){
    background-color: #eaeaea;
}
tr:hover{
    transform: scale(1.02, 1.15);
    box-shadow: 0px 0px 3px;
    background-color: #cacaca;
}
/* tr:hover:nth-child(even){
    transform: scale(1.01,1.15);
    box-shadow: 0px 0px 3px;
}
tr:hover:nth-child(odd){
    transform: scale(1.01,1.15);
    box-shadow: 0px 0px 3px;
    background-color: #dadada;
} */
/* Add padding between text and element.
   Add space around elements. */
input, label, select{
    padding: 5px 5px 5px 5px;
    margin: 10px 10px 10px 10px;
}
/* Make labels even width. */
label{
    display: inline-block;
    width: 130px;
}
/* Make description and category even width. */
#description, #category{
    width: 250px;
}
/* Align with rest of content. (Span, #notFound, table, and h1)*/
.left-margin{
    margin-left: 15px;
}
/* Make submit button look nice. */
#submit{
    background-color: #09f;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    border: none;
}